metadata_dir = "/var/lib/garage/meta"
data_dir = "/var/lib/garage/data"
db_engine = "{{ garage_garage_db_engine }}"

replication_mode = "{{ garage_garage_replication_mode }}"

rpc_bind_addr = "{{ garage_garage_rpc_bind_addr_prefix }}:{{ garage_garage_rpc_bind_port }}"
rpc_public_addr = "{{ item.node_addr }}:{{ item.rpc_bind_port }}"
rpc_secret = "{{ garage_garage_rpc_secret }}"

[s3_api]
s3_region = "{{ garage_garage_region }}"
{% if item.gateway  %}
api_bind_addr = "{{ garage_garage_api_bind_address_prefix }}:{{ garage_garage_api_bind_port }}"
root_domain = "{{ item.node_addr }}"
{% endif  %}
  
{% if garage_garage_admin_api_enabled %}
[admin]
api_bind_addr = "{{ garage_garage_admin_bind_address_prefix }}:{{ garage_garage_admin_bind_port }}"
admin_token = "{{ garage_garage_admin_token }}"
{% endif %}