{% if garage_garage_container_labels_traefik_enabled %}
traefik.enable=true
traefik.http.routers.garage-{{ item.name }}.rule={{ item.rpc_public_addr }}
traefik.http.routers.garage-{{ item.name }}.entrypoints={{ garage_garage_container_labels_traefik_entrypoints }}
traefik.http.routers.garage-{{ item.name }}.tls.certResolver={{ garage_garage_container_labels_traefik_tls_certResolver }}
{% endif %}

{{ garage_garage_container_labels_additional_labels }}
