{% if garage_garage_container_labels_traefik_enabled %}
traefik.enable=true
{% if garage_garage_container_labels_traefik_docker_network %}
traefik.docker.network={{ garage_garage_container_labels_traefik_docker_network }}
{% endif %}
traefik.http.routers.collabora-online.rule={{ garage_garage_container_labels_traefik_rule }}
traefik.http.routers.collabora-online.entrypoints={{ garage_garage_container_labels_traefik_entrypoints }}
traefik.http.routers.collabora-online.tls.certResolver={{ garage_garage_container_labels_traefik_tls_certResolver }}
traefik.http.services.collabora-online.loadbalancer.server.port=9980
{% endif %}

{{ garage_garage_container_labels_additional_labels }}
