{% if garage_garage_container_labels_traefik_enabled %}
{% if garage_garage_container_labels_traefik_docker_network %}
traefik.docker.network={{ garage_garage_container_labels_traefik_docker_network }}
{% endif %}
traefik.enable=true
{% endif %}
{% if item.gateway %}
traefik.http.routers.garage-{{ item.name }}-api.rule=Host("{{ item.s3_api_addr }}")
traefik.http.routers.garage-{{ item.name }}-api.service=garage-{{ item.name }}-api
traefik.http.routers.garage-{{ item.name }}-api.entrypoints={{ garage_garage_container_labels_traefik_entrypoints }}
traefik.http.routers.garage-{{ item.name }}-api.tls.certResolver={{ garage_garage_container_labels_traefik_tls_certResolver }}
traefik.http.services.garage-{{ item.name }}-api.loadbalancer.server.port={{ garage_garage_api_bind_port }}
{% endif %}
{% if garage_garage_admin_api_enabled is defined %}
traefik.http.routers.garage-{{ item.name }}-admin.rule=Host("{{ item.node_addr }}")
traefik.http.routers.garage-{{ item.name }}-admin.service=garage-{{ item.name }}-admin
traefik.http.routers.garage-{{ item.name }}-admin.entrypoints={{ garage_garage_container_labels_traefik_entrypoints }}
traefik.http.routers.garage-{{ item.name }}-admin.tls.certResolver={{ garage_garage_container_labels_traefik_tls_certResolver }}
traefik.http.services.garage-{{ item.name }}-admin.loadbalancer.server.port={{ garage_garage_admin_bind_port }}
{% endif %}

{{ garage_garage_container_labels_additional_labels }}
