[Unit]
Description=Node {{ item.name }} - Garage object storage service
{% for service in garage_garage_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"

ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill garage_{{ item.name }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm garage_{{ item.name }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name=garage_{{ item.name }} \
			--log-driver=none \
			--network={{ garage_garage_container_labels_traefik_docker_network }} \
			--label-file={{ garage_garage_config_path }}/labels_{{ item.name }} \
			-v {{ garage_garage_config_path }}/garage_{{ item.name }}.toml:/etc/garage.toml \
			-v {{ item.metadata_path }}:/var/lib/garage/meta \
			-v {{ item.data_path }}:/var/lib/garage/data \
			-p {{ item.rpc_bind_port }}:{{ garage_garage_rpc_bind_port }} \
			{% if garage_garage_debian_buster %}
			--security-opt seccomp=unconfined \
			{% endif %}
			{{ garage_garage_container_image }}

{% for network in garage_garage_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} garage_{{ item.name }}
{% endfor %}
ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach garage_{{ item.name }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill garage_{{ item.name }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm garage_{{ item.name }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier=garage-{{ item.name }}

[Install]
WantedBy=multi-user.target
